---
layout: default
title: News — BLAB
group: News
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
            // This line of code will redirect to a new website
            window.location.href = "https://prod-bergelsonlab.drupalsites.harvard.edu/blab-news";
        </script>
        <title>Redirecting...</title>
    </head>

<div class="container" id="main">
 <div class="row">
  <!-- Content -->
  <article class="box page-content">
   <header>
    <h2>
     News
    </h2>
   </header>
  </article>
 </div>

 <!-- News Items -->
 <!-- We have the news arranged in rows (<div class ="row">) of four. All the template mess below is to achieve that.
      There is probably a prettier way but this will do. -->

 <div class="container">
  {% for item in site.data.news %}

    <!-- Every four news items, start a new row -->
    {% assign modulo_result = forloop.index0 | modulo: 4 %}
    {% if modulo_result == 0 %}
      <!-- Except for the first row, each time we start one, we should close one -->
      {% if forloop.index0 != 0 %}</div>{% endif %}
      <div class="row">
    {% endif %}

    <div class="3u 12u(mobile)">
      <a class="image featured"><img src="{{ item.image }}" height="165"></a>
      <h3>{{ item.title }}</h3>
      <ul class="meta"><li class="icon fa-clock-o">{{ item.date }}</li></ul>
      <p>{{ item.description | markdownify }}</p>
    </div>

    <!-- Since we close rows, when we start a new one, the last row needs to be close separately -->
    {% if forloop.last %}
      </div>
    {% endif %}

  {% endfor %}
 </div>

</div>
