---
layout: default
title: People — BLAB
group: People
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
            // This line of code will redirect to a new website
            window.location.href = "https://prod-bergelsonlab.drupalsites.harvard.edu/people";
        </script>
        <title>Redirecting...</title>
    </head> 

<div class="container" id="main">
 <!-- Content -->
 <article class="box page-content">
  <header>
   <h2>
    People
   </h2>
  </header>
  <!-- Group photo -->
  <div>
   <center>
    <img alt="Staff, grad student, postdocs, and undergraduate members of the Bergelson lab stand smiling in a classroom with a maze. The image changes to a silly one when the mouse rolls over it." onmouseout="this.src='images/blab_4_17_24_1.jpeg'" onmouseover="this.src='images/blab_4_17_24_2.jpeg';" src="images/blab_4_17_24_1.jpeg"
    width="700" 
     height="500"/>
    <figcaption>
     <b>
      BLAB end of year celebration, Spring 2024
     </b>
    </figcaption>
   </center>
  </div>
  <br/>
  <hr/>
  <!-- People table -->
  <table>
   <tbody>
    <!-- Elika -->
    <tr>
     <td>
      <a href="bergelson-personal-page.html">
       <img alt="Dr. Bergelson stands in front of a white wall smiling and wearing a black shirt." src="images/bergelson.jpg" width="200"/>
      </a>
      <figcaption>
       Photo credit:
       <br/>
       Zachary T. Kern
      </figcaption>
     </td>
     <td>
      <center>
       <b>
        Dr. Elika Bergelson
        <br/>
        Principal Investigator
       </b>
      </center>
      Dr. Bergelson is an Associate Professor in Harvard's Psychology Dept.(
      <a href="bergelson-personal-page.html">
       personal page
      </a>
     ). Dr. Bergelson received her PhD from the University of Pennsylvania, where she first became interested in infant word-learning, after receiving research training at the University of Maryland as a
      <a href="http://ling.umd.edu/baggett/">
       Baggett Fellow
      </a>
      , and a B.A. at NYU in Language and Mind. Her training is in psychology, linguistics, and cognitive science. Before coming to Harvard, she was a postdoc and then research prof at URochester's Brain &amp; CogSci Dept, and then a professor in Duke's Psych &amp; Neuro Dept. Dr. Bergelson's work has been funded by the NSF and NIH; she is the recipient of an NIH Early Independence Award and R01, and an NSF CAREER Award. Dr. Bergelson thinks figuring out how babies learn language is just about the coolest question out there.
     </td>
     <td>
      <img alt="Dr.Bergelson, pictured as a two year old, claps in front of a birthday cake" src="images/bergelsonbaby.jpg" width="200"/>
      <figcaption>
       Photo credit:
       <br/>
       Vitaly Bergelson
      </figcaption>
     </td>
    </tr>
    <!-- Jasenia -->
    <tr>
     <td>
      <img alt="Dr. Hartman wears a bright blue shirt and smiles in front of a brick building." src="images/hartman.jpg" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Dr. Jasenia Hartman
        <br/>
        Postdoctoral Researcher
       </b>
      </center>
      Jasenia finished her PhD in Neuroscience from the University of Wisconsin-Madison. She is interested in how infants use social and linguistic cues available on the face to support their learning. Jasenia is an aspiring plant mom and DIY-enthusiast.
     </td>
     <td>
      <img alt="Dr. Hartman as toddler standing and grinning in front of a plaid chair in a blue polka-dotted dress" src="images/hartman_baby.JPG" width="200"/>
     </td>
    </tr>
    <!-- Stephan -->
    <tr>
     <td>
      <a href="http://stephanmeylan.com">
       <img alt="Dr. Meylan smiles up at the camera in bright sunshine wearing a navy sweater" src="images/meylan.jpg" width="200"/>
      </a>
     </td>
     <td>
      <center>
       <b>
        Dr. Stephan Meylan
        <br/>
        Postdoctoral Researcher
       </b>
      </center>
      Stephan splits his time between the Bergelson Lab and the
      <a href="http://cpl.mit.edu">
       Computational Psycholinguistics Lab
      </a>
      at MIT working on computational models of language acquisition and language processing (
      <a href="http://stephanmeylan.com">
       personal page
      </a>
      ). He recently completed a PhD in the Computational Cognitive Science Lab at UC Berkeley, focusing on how to represent  adults’ and children’s abstract knowledge of language with probabilistic graphical models.
     </td>
     <td>
      <img alt="Dr. Meylan as a baby, sitting in a high chair looking bemused" src="images/meylanbaby.jpg" width="200"/>
     </td>
    </tr>
    <!-- Rainy -->
    <tr>
      <td>
        <img alt="Rainy smiles at the camera wearing a blue sweater and a black leather jacket" src="images/RDongadult.jpg" width="200"/>
       </a>
      </td>
      <td>
       <center>
        <b>
         Dr. Rainy Dong
         <br/>
         Postdoctoral Researcher
        </b>
       </center>
       Rainy recently completed her PhD in Experimental Psychology from the University of Oxford, focusing on children’s language and emotion development. She is very interested in children and language acquisition, and is excited to learn more about infant word learning. In her free time, she enjoys playing table tennis, watching movies, and trying out different cuisines.
      <td>
       <img alt="Rainy as a baby, sitting in the grass with a pink coat on. She has a smudge of red paint on her forehead." src="images/RDongbaby.jpg" width="200"/>
      </td>
     </tr>
    <!-- Genia -->
    <tr>
     <td>
      <img alt="Genia faces the camera wearing a dark sweater and glasses." src="images/lukin.jpg" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Genia Lukin
        <br/>
        2nd Year Graduate Student
       </b>
      </center>
      Genia studied psycholinguistics at Tel Aviv University and theoretical Linguistics at Boston University. She is interested in how sensory impairments impact language-learning, and how babies compensate for them. In her spare time, she tries to read all the books, sings classical choir, and has very strong opinions about Mediterranean cuisine.
     </td>
     <td>
      <img alt="A sepia-toned portrait of Genia as a young child. She sits on a wooden box wearing a gingham dress." src="images/lukinbaby.jpg" width="200"/>
     </td>
    </tr>
    <!-- Kristen -->
    <tr>
     <td>
      <img alt="Kristen stands in front of a stone wall wearing a blue blazer" src="images/gilyard.jpg" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Kristen Gilyard
        <br/>
        2nd Year Graduate Student
       </b>
      </center>
      Kristen recently graduated from Harvard University with an A.B. in Neuroscience and Mathematics. Kristen wants to acquire more knowledge about how infants learn specifically how infants create semantic representations. Kristen also enjoys reading, knitting, and bird-watching.
     </td>
     <td>
      <img alt="Baby Kristen looks at the camera while drinking from a bottle" src="images/gilyardbaby.jpeg" width="200"/>
     </td>
    </tr>
    <!-- Lily Zhu -->
    <tr>
      <td>
       <img alt="Lily has sholder length black heair and a bright smile. She wears a white blouse and small pearl earrings." src="images/Lily_Zhu_Adult.png" width="200"/>
      </td>
      <td>
       <center>
        <b>
         Lily Zhu
         <br/>
         1st Year Graduate Student
         </b>
        </center>
        Lily studied Cognitive Science and Data Science at Johns Hopkins University. She is interested in how children integrate multiple sources of information for language learning and develop their compositional knowledge. In her free time, Lily enjoys running, gaming, and experimenting with desserts.        </td>
       <td>
        <img alt="Baby Lily lay on her back in a crib. Her black hair is sticking up everywhere and she is playfully grabbing her foot." src="images/Lily_Zhu_Baby.png" width="200"/>
      </td>
    </tr>
    <!-- Lilli -->
    <tr>
     <td>
      <img alt="Lilli sits in a white adirondack chair and smiles while holding a duck on her lap" src="images/lillianna.jpg" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Lillianna Righter
        <br/>
        Lab Manager
       </b>
      </center>
      Lilli graduated from the University of Maryland, College Park with a B.A. in Linguistics in 2020. There, she worked on research looking at infants’ acquisition of long-distance syntactic dependencies and wrote a thesis about early verb learning. She is thrilled to join BLAB and learn more about language development. Lilli loves her ducks, playing D&amp;D, and theater.
     </td>
     <td>
      <img alt="Baby Lilli sticks both fingers up her nose while her staticky hair sticks to a balloon" src="images/lillianna_baby.JPG" width="200"/>
     </td>
    </tr>
    <!-- Sophie -->
    <tr>
      <td>
       <img alt="Sophie sits at a table holding a small cake and smiling. She has brown hair and brown eyes and is wearing a black top." src="images/Schoenbohm.jpeg" width="200"/>
      </td>
      <td>
       <center>
        <b>
         Sophie Schoenbohm
         <br/>
         Lab Manager
        </b>
       </center>
       Sophie graduated from Grinnell College with a B.A. in Psychology and a Concentration in Linguistics. At Grinnell, she conducted research on bilingualism, slang, and wrote her senior thesis on language development in children with developmental disabilities. She is interested in Speech Language Pathology and how those with sensory impairments acquire language. In her spare time, Sophie loves reading, knitting, watching reality TV shows, and baking all kinds of treats.
      </td>
      <td>
       <img alt="Baby Sophie wears an orange dress over a long-sleeved white shirt. She sits at a table with her arms raised above her head and mouth open like she's cheering." src="images/baby_schoenbohm.jpeg" width="200"/>
      </td>
     </tr>
   <!-- Michika -->
   <tr>
      <td>
       <img alt="Michika stands in front of some small pine trees. She is wearing a puffy black winter coat and smiling at the camera. She has brown eyes and short dark hair with bangs." src="images/Ito.png" width="200"/>
      </td>
      <td>
       <center>
        <b>
         Michika Ito
         <br/>
         Lab Manager
        </b>
       </center>
       Michika graduated from Wellesley College with a B.A. in Cognitive and Linguistic Sciences with a concentration in Psychology. At Wellesley, she conducted research on the effects of familiar song melody on word learning skills in preschool children. She is interested in  Speech Pathology as well as exploring how children mentally represent the meaning of words in relation to bilingualism/multilingualism. In her free time, she likes to cook, play tennis, and watch movies.      </td>
      <td>
       <img alt="Baby Michika reads a magazine. She is wearing a pink pajama top and rainbow striped pajama pants." src="images/mito_baby.jpg" width="200"/>
      </td>
     </tr>
    <!-- Zhenya -->
    <tr>
     <td>
      <img alt="Zhenya looks to the side while standing in front of a whiteboard and wearing a blue and white striped shirt" src="images/Zhenya_adult.jpg" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Zhenya Kalenkovich
        <br/>
        Lab Technician
       </b>
      </center>
      Zhenya graduated from HSE University, Moscow in 2017 with an MSc. in Cognitive Science. After graduating, he was involved in research into phoneme perception, negative sentence processing, and neural correlates of syntactic processing. He joined the lab in November, 2021. He is interested in the Language Development as a major window into cognition in general. At the lab, he performs a variety of programming/technical duties involved in managing and analyzing the corpus and experimental data as well as providing technical support for the researchers in the lab. In his free time, he enjoys bouldering, short hikes, and trying new things.
     </td>
     <td>
      <img alt="Baby Zhenya pictured in black and white, looking surprised, sitting on a booster chair and holding a picture book with tigers" src="images/Zhenya_baby.jpg" width="200"/>
     </td>
    </tr>
     <!-- Olivia O'Connell -->
     <tr>
      <td>
       <img alt=" Olivia sits on the beach holding a slice of pizza. She has blonde hair put back into a ponytail and wears a yellow dress with blue flower print." src="images/oconnell.png" width="200"/>
      </td>
      <td>
       <center>
        <b>
         Olivia O'Connell
         <br/>
         Research Intern
        </b>
       </center>
       Olivia is a third-year undergraduate Psychology student at the University of Bath, currently undertaking a year-long placement in the lab. She is interested in various aspects of developmental psychology, including whether shaping linguistic input can influence child language acquisition. In her free time she enjoys cooking, running and eating brunch.
      </td>
      <td>
       <img alt="Baby Olivia wears a light pink sweater and sits behind the steering wheel of an inflatable car." src="images/baby_oconnell.png" width="200"/>
      </td>
     </tr>
    <!-- Nicole Calderon -->
    <tr>
     <td>
      <img alt="Nicole has brown hair and black square glasses. She wears a denim jacket and beams while holding a bouquet of flowers." src="images/nicole_calderon.png" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Nicole Calderon
        <br/>
        Research Assistant
       </b>
      </center>
      Nicole is a senior at Harvard from Miami, FL studying Psychology and Education. She is interested in early language development, how language is taught, and finding out how young learners can be best supported in their growth! In her free time, she loves latin dancing, cooking, and crochet.
     </td>
     <td>
      <img alt="A close up of baby Nicole, with a matching lavender sweater and beret." src="images/baby_calderon.png" width="200"/>
     </td>
    </tr>
    <!-- Grace Benkelman -->
    <tr>
     <td>
      <img alt="Grace smiles on a rooftop in Europe. She has shoulder length brown hair, blue eyes, and wears a puffy green jacket with a black and white scarf." src="images/benkelman.png" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Grace Benkelman
        <br/>
        Research Assistant
       </b>
      </center>
      Grace is a senior at Harvard from Montana studying Psychology and Linguistics. She is interested in various topics in social psychology and psycholinguistics. She loves to hike, run, rock climb, and be outside in her free time!
     </td>
     <td>
      <img alt="Young Grace dances very seriously in a dark room, wearing a bright orange dress with yellow hibiscus print." src="images/baby_benkelman.png" width="200"/>
     </td>
    </tr>
     <!-- Jordan Mitchell -->
     <tr>
        <td>
         <img alt=" Jordan stands in the woods, smiling gently. She has shoulder length brown hair and brown eyes, and wears a cream cardigan over a blue shirt with a gray scarf." src="images/Mitchell.jpeg" width="200"/>
        </td>
        <td>
         <center>
          <b>
           Jordan Mitchell
           <br/>
           Research Assistant
          </b>
         </center>
         Jordan is a junior at Harvard from Gates, North Carolina studying Linguistics, Psychology, and Human Evolutionary Biology. She believes that the optimal approach to studying language prioritizes integration across the cognitive sciences. Her academic interests include multilingualism, child and adult language acquisition, and neurolinguistics. In her free time, Jordan enjoys playing tennis, reading, and traveling.
        </td>
        <td>
         <img alt="A close-up of baby Jordan. She has pig-tails in her hair and she wears a light blue dress with a white collar and a pink bow." src="images/baby_mitchell.jpeg" width="200"/>
        </td>
       </tr>
    <!-- Will Raidt -->
    <tr>
     <td>
      <img alt="Will has brown hair and brown eyes and a kind smile. He stands in front of a lake wearing a blue shirt and floppy hat." src="images/Raidt.jpeg" width="200"/>
     </td>
     <td>
      <center>
       <b>
        Will Raidt
        <br/>
        Research Assistant
       </b>
      </center>
      Will is a senior at Harvard from Chicago concentrating in Psychology with a secondary in Environmental Science and Public Policy. His specific interest in the realm of Developmental Psychology is how educational policy can influence the development and mental health of students. He enjoys playing/watching sports, reading fiction, and traveling.
     </td>
     <td>
      <img alt="Baby Will looks up with a pout. He is wearing a blue checkered raincoat and yellow rainboots. He is not enjoying the wet and cold." src="images/baby_raidt.jpeg" width="200"/>
     </td>
    </tr>
    <!-- Taft Foley -->
    <tr>
      <td>
       <img alt="Taft stands on a staircase smiling at the camera. He has short brown hair, brown eyes and wears a black and blue coat and headphones." src="images/Foley.png" width="200"/>
      </td>
      <td>
       <center>
        <b>
         Taft Foley
         <br/>
         Research Assistant
        </b>
       </center>
       Taft is a junior at Harvard from Houston, Texas studying Psychology and Social Anthropology. He is interested in Clinical and Developmental Psychology and is particularly interested in language acquisition. He enjoys reading, running, and spending time with his friends in his spare time.
      </td>
      <td>
       <img alt="Baby Taft stands in a carpeted room smiling and walking towards the camera. He is wearing a black onesie." src="images/baby_foley.png" width="200"/>
      </td>
     </tr>
    <!-- Oyewumi Oyeniyi -->
    <tr>
      <td>
       <img alt=" Oyewumi is standing in front of an inflatable snowman. Her dark hair is up in space buns and she is wearing a plum coat and headphones around her neck." src="images/OOyeniyi_adult.jpg" width="200"/>
      </td>
      <td>
       <center>
        <b>
          Oyewumi Oyeniyi
         <br/>
         Research Assistant
        </b>
       </center>
       Oyewumi Oyeniyi is a freshman at Harvard College who currently intends on pursuing a double concentration in History of Science and Psychology. They are interested in social and developmental psychology especially when it comes to how people develop their perceptions of society. In her free time she enjoys reading speculative fantasy novels and attempting to finish various animes.      </td>
      <td>
       <img alt="Baby Oyewumi wears a adorable pink dress and headband. She is laying on a bed of daisies looking at the camera." src="images/OOyeniyi_baby.jpg" width="200"/>
      </td>
     </tr>
    <!-- Christina Wang -->
    <tr>
      <td>
       <img alt="Christina has dark hair and dark eyes, she is wearing a black coat and smiling to the camera." src="images/cwang_adult.jpg" width="200"/>
      </td>
      <td>
       <center>
        <b>
         Christina Wang
         <br/>
         Research Assistant
        </b>
       </center>
       Christina is a junior at Berklee College of Music majoring in music therapy and piano performance and minoring in psychology. She is particularly interested in how children acquire linguistic skills from their environment and the nurture side of developmental psychology. She hopes to integrate the insights into her work to provide the best therapy to others in the future. In her spare time, she enjoys doing yarn work, transcribing music, and exploring new cafes!      </td>
      <td>
       <img alt="Baby Christina wears a light pink shirt and sits on a bench in front of a flower garden." src="images/cwang_baby.jpg" width="200"/>
      </td>
     </tr>
    <!-- Veronica Whitford -->
    <tr>
      <td>
       <img alt="Veronica has light brown hair and brown eyes. She stands in a grassy field in a black turtleneck." src="images/vwhitford_adult.png" width="200"/>
      </td>
      <td>
       <center>
        <b>
         Veronica Whitford
         <br/>
         Research Assistant
        </b>
       </center>
       Veronica is a freshman at Harvard from Charlottesville, Virginia studying Linguistics and Government. She is interested in multilingual language acquisition and child language development, especially in children with developmental disabilities and sensory impairments. When she's not in the lab, you can find Veronica reading, Irish dancing, or playing board games.      </td>
      <td>
       <img alt="Baby Veronica wears a light blue dress with a white collar and yellow flowers. She is sitting and giggling." src="images/vwhitford_baby.jpg" width="200"/>
      </td>
     </tr>
   </tbody>
  </table>
  <!-- Lab Alumni -->
  <center>
   <h4>
    Lab Alumni (Where they are now)
   </h4>
  </center>
  <ul>
   {% for member in site.data.alumni %}
   <li>
    <strong>{{ member.name }}</strong>, {{ member.role }}, {{ member.years }}
    {% if member.note %}
    ({{ member.note }})
    {% endif %}
    {% if member.link %}
    (<a href="{{ member.link }}">{{ member.link_text | default: "More info" }}</a>)
    {% endif %}
   </li>
   {% endfor %}
  </ul>

  <br/>
  <center>
   <h3>
    <p>
     <a href="contact.html">
      <span style="text-decoration: underline;">
       If you are interested in joining our lab, see here!
      </span>
     </a>
    </p>
   </h3>
  </center>
  <br/>
 </article>
</div>
