<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	showOpenButton="false"
	showExpandButton="false"
	showThumbsButton="false"
	galleryWidth="80%"
	galleryHeight="80%"
	backgroundColor="rgba(255,255,255,1)"
	textColor="rgba(255,255,255,1)"

>
		<image imageURL="images/IMG_4558.JPG"
	thumbURL="thumbs/IMG_4558.JPG"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
		<title><![CDATA[Lab retreat, Oct 2017]]></title>
			<caption><![CDATA[Photo Credit: Hallie Garrison]]></caption>
		</image>

		<image imageURL="images/IMG_4526.JPG"
	thumbURL="thumbs/IMG_4526.JPG"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
		<title><![CDATA[Lab retreat, Oct 2017]]></title>
			<caption><![CDATA[Photo Credit: Hallie Garrison]]></caption>
	</image>


		<image imageURL="images/lab_photo_spring_2017.JPG"
	thumbURL="thumbs/lab_photo_spring_2017.JPG"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
		<title><![CDATA[Lab party, Spring 2017]]></title>
		<caption><![CDATA[Photo Credit: Zachary Kern]]></caption>
	</image>

	<image imageURL="images/lab_photo_spring_2017-2.JPG"
thumbURL="thumbs/lab_photo_spring_2017-2.JPG"
linkURL=""
linkTarget="_blank"
sourcePath="">
	<title><![CDATA[Lab party, Spring 2017]]></title>
	<caption><![CDATA[Photo Credit: Zachary Kern]]></caption>
</image>


    <image imageURL="images/NCSSM_symposium_2017.jpg"
	thumbURL="thumbs/NCSSM_symposium_2017.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Claire Patrick, NCSSM Summer Research Symposium, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>

    <image imageURL="images/20170713_210144.jpg"
	thumbURL="thumbs/20170713_210144.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Catherine's leaving do, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>

    <image imageURL="images/20170713_145806.jpg"
	thumbURL="thumbs/20170713_145806.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Reena Jasani, VIP poster session, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>

    <image imageURL="images/20170713_145000.jpg"
	thumbURL="thumbs/20170713_145000.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Estelle He, VIP poster session, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>

    <image imageURL="images/VIP_summer17_3.jpg"
	thumbURL="thumbs/VIP_summer17_3.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Estelle He, VIP presentation, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
    <image imageURL="images/VIP_summer17_4.jpg"
	thumbURL="thumbs/VIP_summer17_4.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Estelle He, VIP presentation, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
    <image imageURL="images/VIP_summer17_2.jpg"
	thumbURL="thumbs/VIP_summer17_2.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Reena Jasani, VIP presentation, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
    <image imageURL="images/VIP_summer17_1.jpg"
	thumbURL="thumbs/VIP_summer17_1.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Reena Jasani, VIP presentation, July 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
    <image imageURL="images/IMG_0377.jpg"
	thumbURL="thumbs/IMG_0377.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Shannon & Andrei, Duke Research Computing Symposium, Jan 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_4227.jpg"
	thumbURL="thumbs/DSC_4227.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[BLAB Party, Dec 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_4229.jpg"
	thumbURL="thumbs/DSC_4229.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[BLAB Party, Dec 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3548.jpg"
	thumbURL="thumbs/DSC_3548.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3504.jpg"
	thumbURL="thumbs/DSC_3504.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3511.jpg"
	thumbURL="thumbs/DSC_3511.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3514.jpg"
	thumbURL="thumbs/DSC_3514.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3525.jpg"
	thumbURL="thumbs/DSC_3525.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3529.jpg"
	thumbURL="thumbs/DSC_3529.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3536.jpg"
	thumbURL="thumbs/DSC_3536.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3537.jpg"
	thumbURL="thumbs/DSC_3537.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3544.jpg"
	thumbURL="thumbs/DSC_3544.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/DSC_3560.jpg"
	thumbURL="thumbs/DSC_3560.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[Lab retreat, Oct 2016]]></title>
    <caption><![CDATA[Photo credit: Zachary Kern]]></caption>
  </image>
  <image imageURL="images/IMG_1823.jpg"
	thumbURL="thumbs/IMG_1823.jpg"
	linkURL=""
	linkTarget="_blank"
	sourcePath="">
    <title><![CDATA[SEEDLingS Reunion, Nov 2016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>
